.cart__modal__container{
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 6rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart__items__img{
    display: flex;
    justify-content: start;
    align-items: start;
    height: 200px;
    margin: 2rem;

}

.cart__items__info{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin-right: 2rem;
}

.remove__btn{
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 4rem;
}