.list__container{
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    width: 18rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 8px 8px;
}

.list__capa{
    width: 100%;
}

.list__items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
}

.list__title{
    font-size: 1.2rem;
}

.preco-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preco-cart h2{
    font-size: 1rem;
    color: var(--primary-gray);
    margin-top: 0.7rem;
}

.add__cart__btn{
    background-color: var(--primary-gray);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.info__container{
    padding-top: 0.5rem;
}

.like__icon{
    color: var(--primary-gray);
    cursor: pointer;
    font-size: 1.5rem;
}